* before,*after{
    box-sizing: border-box;
}



body{
    background-color: cornflowerblue;
    margin: 0;
    font-family:monospace;
}
header{
     background-blend-mode:color-burn;
  padding: 30px;
  text-align: center;
  font-size: 25px;
  color: white;
}
.navbar { 
     overflow: hidden;
    background-color: #B0C4DE; 
    font-size: 30px;
} 
 
.navbar a { 
    float: left; 
    display: block; 
    color: black; 
    font-family: georgia; 
    text-align: left; 
    font-size: 14px; 
    padding: 12px 18px; 
    text-decoration: none; 
} 
 
.navbar a.right { 
    float: right; 
} 
 
.navbar a:hover { 
    background-color: #E6E6FA; 
    color: black; 
    }
img {
   width: 100%;
    height: 100%;
}
article {
  padding: 20px;
  width: 70%;
  background-color: azure;
  
}
aside{
    width: 25%;
}

p {
    font-size: 18;
    padding: 20px;
    font-family:georgia;
    letter-spacing: normal;
    line-height:40px;
    text-indent: 50px;
    
}
h1{
    font-size: 28;
    font-weight: bolder;
    font-family:monospace;   
}

footer {
   background-color:steelblue;
  padding: 10px;
  text-align: center;
  color: white;
}

h2{
     text-align: center;
     line-height:15px;
     font-size:18;
}

nav {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 20px;
   background-color:lightsteelblue; 
}

nav ul {
  list-style-type: none;
  padding: 0;
}
section {
  display: -webkit-flex;
  display: flex;
  
}
h3{
    font-size: 20;
    font-weight: bolder;
    font-family:sans-serif; 
    color:darkslategrey;
}
li{
    font-size: 20;
    font-weight:lighter;
}
ol{
    font-size: 25;
    font-weight: bold;
}
ul{
    font-size: 20;
}